* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
}
.noScroll {
	overflow-y: hidden;
}
.container {
	width: 100%;
	max-width: 1206px;
	margin: 0 auto;
	padding: 0 20px;
	line-height: 1;
}
/* header navigation ***********************************/
nav {
	text-align: center;
	padding: 10px 0;
	background-color: #000;
}
.nav_cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header_logo {
	display: inline-block;
	line-height: 0;
}
.logo {
	max-width: 150px;
}
.nav_links {
	display: none;
}
/* mobile menu ***********************************/
.mobile_menu_icon img {
	max-width: 35px;
}
.mobile_menu_links,
.mobile_menu_one_links {
	position: absolute;
	display: none;
	flex-direction: column;
	gap: 20px 0;
	width: 100%;
	height: 200px;
	padding-top: 20px;
	left: 0;
	top: 46px;
	background-color: #000;
}
.show_mobile_menu {
	display: flex;
}
.mobile_link,
.mob_menu_one_link {
	font-size: 20px;
	color: #fff;
	position: relative;
}
.menu1_forward_arrow {
	position: absolute;
	right: 80px;
	bottom: 3px;
	font-size: 26px;
}
.menu1_backward_arrow {
	position: absolute;
	bottom: 4px;
	left: 50px;
	font-size: 26px;
}
.stacked_menu {
	display: flex;
	z-index: 1;
}
.menu_close {
	display: none;
}
.show_close_btn {
	display: flex;
}
/* hero ***********************************/
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #9f3eed, #32a0da);
	background-size: cover;
	height: 450px;
}
.hero_text {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}
/* features ***********************************/
.features,
.products_wrap,
.tab_switcher,
footer {
	padding: 40px 0;
}
.btf_head {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 1.4;
	text-align: center;
}
.feature_icons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}
.feature_icon {
	max-width: 64px;
	flex-basis: 30%;
}
/* products ***********************************/
.products {
	display: flex;
	flex-direction: column;
	gap: 100px 0;
}
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0;
}
.product_image {
	max-width: 100%;
	border-radius: 50%;
}
.product_desc {
	font-size: 18px;
	line-height: 1.8;
	text-align: center;
}
/* tab_switcher ***********************************/
.tabs {
	display: flex;
}
.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	flex-grow: 2;
	font-size: 24px;
	width: 200px;
	height: 50px;
	background-color: #dddddd;
}
.tab_active {
	color: #fff;
	background-color: #e22223;
}
.tab_content {
	overflow-y: auto;
	height: 250px;
	padding: 30px;
	line-height: 1.7;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* footer ***********************************/
footer {
	background-color: #000;
}
.footer_cont,
.footer_links {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_cont {
	gap: 40px 0;
}
.footer_subscr,
.footer_link {
	text-transform: capitalize;
	cursor: pointer;
}
.footer_subscr {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	width: 100%;
	max-width: 150px;
	height: 30px;
	border-radius: 20px;
	color: #fff;
	background-color: #ee3156;
}
.footer_links {
	gap: 20px 0;
}
.footer_link {
	font-size: 12px;
	color: #fff;
}
.footer_logo img {
	max-width: 150px;
}

@media screen and (min-width: 768px) {
	.nav_cont {
		justify-content: space-between;
	}
	.nav_links {
		display: flex;
		gap: 0 40px;
	}
	.header_link {
		position: relative;
		cursor: pointer;
		color: #fff;
	}
	.menu_one {
		display: inline-flex;
	}
	.header_link:hover,
	.drpdwn_link:hover {
		text-decoration: underline;
	}
	.menu_one_drpdwn {
		position: absolute;
		display: none;
		flex-direction: column;
		height: 0;
		top: 16px;
		padding: 20px;
		gap: 20px 0;
		color: #fff;
		background-color: #9f3eed;
		transition: all 0.3s;
	}
	.menu_one:hover .menu_one_drpdwn {
		white-space: nowrap;
		width: auto;
		height: auto;
		display: flex;
	}
	.link_drpdwn_icon {
		margin-left: 5px;
	}
	.mobile_menu_icon {
		display: none;
	}
	.hero {
		height: 300px;
	}
	.feature_icons {
		gap: 0 40px;
	}
}
@media screen and (min-width: 1024px) {
	.product {
		flex-direction: row;
		justify-content: center;
		gap: 0 80px;
	}
	.product:nth-child(even) .product_image {
		order: 1;
	}
	.product_desc {
		max-width: 300px;
	}
	.tab_cont {
		max-width: 700px;
	}
	.tab {
		flex-grow: 0;
		font-size: 28px;
		height: 60px;
	}
	.tab_content {
		line-height: 2;
		font-size: 18px;
	}
	.footer_links {
		flex-direction: row;
		gap: 0 20px;
	}
	.footer_link:not(:last-child) {
		border-right: 1px solid #fff;
		padding-right: 20px;
	}
}
